<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" formControlName="fullName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" />
                <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                    <div *ngIf="f.fullName.errors.required">Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 3 pictures</div>
                        <div *ngIf="f.password.errors.maxlength">Password must have a maximum of 3 images</div>
                    </div>                
                    <div class="d-flex justify-content-between">
                        <img class="icon" src="../../assets/cat.svg" data-number="1" onclick=" document.getElementById('password').value += this.getAttribute('data-number')">
                        <img class="icon" src="../../assets/dog.svg" data-number="2" onclick=" document.getElementById('password').value += this.getAttribute('data-number')">
                        <img class="icon" src="../../assets/dove.svg" data-number="3" onclick=" document.getElementById('password').value += this.getAttribute('data-number')">
                        <img class="icon" src="../../assets/dragon.svg" data-number="4" onclick=" document.getElementById('password').value += this.getAttribute('data-number')">
                        <img class="icon" src="../../assets/fish.svg" data-number="5" onclick=" document.getElementById('password').value += this.getAttribute('data-number')">
                    </div>           
                    <div class="d-flex justify-content-between">
                        <img class="icon" src="../../assets/frog.svg" data-number="6" onclick=" document.getElementById('password').value += this.getAttribute('data-number')">
                        <img class="icon" src="../../assets/hippo.svg" data-number="7" onclick=" document.getElementById('password').value += this.getAttribute('data-number')">
                        <img class="icon" src="../../assets/horse.svg" data-number="8" onclick=" document.getElementById('password').value += this.getAttribute('data-number')">
                        <img class="icon" src="../../assets/rabbit.png" data-number="9" onclick=" document.getElementById('password').value += this.getAttribute('data-number')">
                        <img class="icon" src="../../assets/spider.svg" data-number="0" onclick=" document.getElementById('password').value += this.getAttribute('data-number')">
                    </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>